.container {
    width:  100%;
    height: 500px;
    padding: 30px;
    text-align:start;
    h3 {
        padding: 10px;
    }
    ul {
        padding-left:10px ;
    }
    h6 {
        padding-top: 15px;
        text-align: center;
    }
}