.weatherCard {
    padding: 15px 15px;
    margin: 0 auto;
    .conditions {
        display: flex;
    }
    .climate {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        span {
        font-weight: 300;
            svg {
                font-size: 40px;
                padding-top: 10px;
                color: #2d334a;   
            }
        }
        p {
        font-size: 40px;
        padding-top: 10px;
        }
    }
   
    h1 {
        position: relative;
        float: right;
        color: #666;
        font-weight: 300;
        font-size: 60px;
        line-height: 30px;
    }
    h2 {
        font-weight: 500;
        font-size: 20px;
    }
    h3 {
        color: #777;
        font-weight: 400;
        font-size: 12px;
    }
    span {
        color: #999;
        font-weight: 300; 
    }

}

