.allCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0 ;
    
    .linkDetails {
        text-decoration: none;
        color: #2d334a;
    }
    .cards{
        margin: 10px;
        list-style: none;
    }
    .imgCard {
        width:350px;
        height: 394px;
        position: relative;
        border-radius: 5px;
        text-align: left;
        background-color: #e8e4e6;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);  
        .cardImage {
            position: relative;
            margin: auto;
            overflow: hidden;
            border-radius: 5px 5px 0px 0px;
            .cardRate{
                background-color: yellow;
                padding: 5px;
                font-weight: 700;
                border-radius: 20px;
                display: flex;
                width: 35px;
                height: 23px;
                align-items: center;
                justify-content: center;
                position: absolute;
                z-index: 10;
                bottom: 18px;
                left: 12px;
                font-size: 12px;
            }
            .cardImg {
                cursor: pointer;
                height: 250px;
                width:100%;
                border-radius: 5px 5px 0px 0px;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -o-transition: all 0.8s;
                transition: all 0.8s;
            }
            .cardCaption{
                position: absolute;
                width: 100%;
                z-index: 1;
                top: 10px;
                right: 15px;
                color: #fff;
                text-align: end;
            }
        }
        
        .cardImage:hover img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }      
    }
}

.cardInfo {
    padding: 10px;
    .moreDetails{
        text-decoration: underline;
        color: blue;
        cursor: pointer;
        padding: 5px 5px 5px 0px;
    }
}
.address  {
    color: #7d7676;
    font-size: 12px;
    text-align: initial;
}
.cardIcon{
    z-index:100;
    color: white;
    position: absolute;
    top: 9px;
    font-size: 20px;
    left: 16px;
    &:hover{
       transform: scale(1.1);
    }
}
.cardTittle {
    font-weight: bold;
    font-size: large;
    justify-content: space-between;
    display: flex;
}

    .cardIWish{
        color: rgb(48, 23, 23);
        padding-right: 5px;
        position: relative;
        cursor: pointer;
        &Text{
            position: absolute;
            left: -15px;
            bottom: -28px;
            font-size: 11px;
            visibility: hidden;
            text-align: center;
        }
        &:hover{
            .cardIWishText{
                visibility: visible;
            }
            color: red;
           transform: scale(1.1);
        }
    }

.cardImgModal{
    max-width: 350px;
    background-color: #fff;
    a {
        font-size: x-large;
        display: flex;
        justify-content: flex-end;
        padding-right: 18px;
        cursor: pointer;
    }
    &Gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .cardGallery{
            margin-bottom :20px;
            &:first-child{
                display: none;
            }
        }
    }
}

