.container {
    padding: 15px 30px;
    .containerMobile{
        @media (min-width:624px ) {
            display: none;
        }
    }
    .containerDesktop {
        display: flex;
        justify-content: space-between;
        max-width: 350px;
        margin: 0 auto;
        p{
            text-align: center;
            height: 30px;
            background: #ffffff;
            border: none;
            font-size: 16px;
            font-weight: bold;
            color: #001e1d;
            background-color: #e8e4e6;
            margin-bottom: 3px;
        }
        .containerButton{
            @media (max-width:624px ) {
                justify-content: space-between;
                display: flex;
            }

            button{
                cursor: pointer;
                @media (max-width:624px ) {
                    width: 50%;
                }
            }    
        }
       
        @media (max-width:624px ) {
            flex-direction: column;
        }
        button {
            width: 130px;
            height: 30px;
            /* border-radius: 15px; */
            background:#ffffff;
            border: none;
            box-shadow: 0 4px 4px rgba(131, 67, 67, 0.25);
            font-size: 16px; 
            font-weight: bold;
            color:#001e1d;
            background-color:#e8e4e6;
        }
    }
}