.searchBox {
    width: 100%;
    padding-top: 30px;
    display: inline-block;
    margin: auto;
    .tittle {
        text-align: center;
        color: black;
        font-size: 24px;
        font-weight: 100;
    }
    .searchInput {
        width: 100%;
        margin-top: 10px;
        padding: 15px 45px 15px 15px;
        background-color: #eaeaeb;
        color: #6c6c6c;
        border-radius: 50px;
        border:none;
        transition: all .4s;
        letter-spacing: 1px;
        &:focus {
            border:none;
            outline:none;
            box-shadow: 0 1px 12px #b8c6db;
            -moz-box-shadow: 0 1px 12px #b8c6db;
            -webkit-box-shadow: 0 1px 12px #b8c6db;
        }
    }
    .errorMsg {
        color: #bf1650;
        padding-left: 12px;
        &::before {
            display: inline;
            content: "⚠ ";
        }
    }
    .searchBtn {
        background-color: transparent;
        font-size: 18px;
        padding: 6px 9px;
        margin-left:-45px;
        border:none;
        color: #6c6c6c;
        transition: all .4s;
        z-index: 10;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
            color: black;
        } 
        &:focus {
            outline:none;
            color:black;
        }
    }
}