header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    /* position: fixed; */
    background-color: #fffffe;
    transition: all 0.5s ease-in-out;
    .burguerBtn {
        display: none;
        @media(max-width: 624px){
            display: inline-block;
        }
    }
    .logo h1 {
        cursor: pointer;
        .mainLogo {
            text-decoration: none;
            color: #001e1d; 
        }
    }
    .nav {
        display: flex;
        @media(max-width: 624px){
            position: absolute;
            flex-direction: column;
            right: 0;
            top: 62px;
            background: #fffffe;
        }
            .navLinks{
                margin: 15px 10px;
                font-weight: bold;
                color: #272343;
                padding: 5px 15px;
                border-radius: 100px;
                transition:all 0.5s ease-in-out;
                text-decoration: none;
                svg {
                    padding-right: 5px;
                } 
            } 
    }
    .navActive {
        display: flex;
        background-color: #fffffe;
        z-index: 20;
        align-items: flex-start; 
        
    }
    .navInactive {
        @media (max-width: 624px){
          display: none;  
        } 
    } 
}

